name: Quality
on:
  pull_request:
    branches: ["main"]
permissions:
  contents: read
jobs:
  quality:
    runs-on: self-hosted
    if: ${{ (github.actor != 'dependabot[bot]') }}
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          # cache: "uv"
      - name: Install dependencies
        run: pipx run uv sync --group dev
      - name: Lint with flake8
        run: |
          pipx run uv run flake8 qml_essentials
          pipx run uv run flake8 tests
      - name: Running license check
        run: pipx run uv run licensecheck --zero --license mit
