name: Testing on Review
on:
  pull_request:
    types: [review_requested]
  workflow_call:
  workflow_dispatch:
permissions:
  contents: write
jobs:
  test-expensive:
    runs-on: self-hosted
    if: ${{ (github.actor != 'github-actions[bot]') }}
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          # cache: "uv"
      - name: Install dependencies
        run: pipx run uv sync --group dev
      - name: Test with pytest
        run: pipx run uv run pytest --cov=qml_essentials --cov-report html --dist load -m "expensive" -n 4
